.page {
    background-color: #fcf5e5;
    min-height: 100vh;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-weight: 500px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.page__section{
    max-width: 1280px;
    margin: 0 auto;
}