.card {
    max-width: 413px;
}

.card__content {
    width: 100%;
    margin: 12px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card__image {
    height: 413px;
    width: 100%;
    object-fit: cover;
    display: block;
    border-radius: 8px;
}

.card__like-btn {
    cursor: pointer;
    transition: opacity 0.5s;
    background: transparent url(../images/like.svg) center no-repeat;
    width: 23px;
    height: 20px;
    border: none;
    background-color: transparent;
    opacity: 0.4;
}

.card__like-btn:hover {
    opacity: 1;
}

.card__like-btn_liked {
    background: url(../images/liked.svg) center no-repeat;
    opacity: 1;
}

.card__like-btn_liked:hover {
    opacity: 0.4;
}

.card__delete-btn {
    transition: background-image 0.5s;
    cursor: pointer;
    position: absolute;
    margin: 10px 10px 371px 371px;
    padding: 0;
    background-image: url(../images/Delete_Icon.svg);
    width: 32px;
    height: 32px;
    border: none;
    background-color: transparent;
}

.card__delete-btn:hover {
    background-image: url(../images/Delete_State=Hover.svg);
}

.card__title {
    max-width: 353px;
    margin: 0;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    color: rgba(33, 33, 33, 1);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}


@media screen and (max-width: 627px) {
    .card__image {
        height: 288px;
    }

    .card__title {
        max-width: 95px;
        font-size: 16px;
        line-height: 16px;
    }

    .card__delete-btn {
        margin: 10px 10px auto 246px;
    }
}