.modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.5s, opacity 0.5s linear;
    padding: 0 20px;
}

.modal_opened {
    visibility: visible;
    opacity: 1;
    transition-delay: 0.2s;
}

.modal_closed {
    visibility: hidden;
}

.modal__content {
    background-color: #fff;
    max-width: 730px;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    border-radius: 10px;
}

.modal__content_edit {
    padding: 36px 50px 32px;
}

.modal__content_card {
    padding: 33px 50px 46px;
}

.modal__content_error_active {
    padding: 32px 50px 32px;
}

.modal__content_type_preview {
    display: grid;
    padding: 0%;
    background-color: transparent;
    max-width: fit-content;
}

.modal__image {
    border-radius: 8px;
    max-width: 80vw;
    max-height: 80vh;
    width: 100%;
}

.modal__caption {
    font-family: Poppins;
    padding: 4px 8px;
    background-color: #212121;
    font-size: 20px;
    line-height: 24px;
    margin: 8px 0 0 0;
    color: #fff;
    border-radius: 8px;
    max-width: fit-content;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.modal__column {
    display: flex;
}

.modal__close-btn {
    position: absolute;
    cursor: pointer;
    transition: opacity 0.5s;
    margin: 0 0 32px;
    top: 32px;
    right: 50px;
    width: 40px;
    height: 40px;
    padding: 0;
    border: transparent;
    background-color: transparent;
    opacity: 0.4;
}

.modal__close-btn:hover {
    opacity: 1;
}

.modal__close-btn_type_preview {
    transition: opacity 0.5s;
    margin: 0 0 0 12.57px;
    background-image: url(../images/previewClose.svg);
    opacity: 1;
    top: 0px;
    right: -52.57px;
}

.modal__close-btn_type_preview:hover {
    opacity: 0.4
}

.modal__title {
    margin: 0 0 36px;
    font-size: 32px;
    font-weight: 500;
    line-height: 32px;
}

.modal__title_error_active {
    margin: 0 0 27px;
}

.modal__label {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 32px;
    color: rgba(33, 33, 33, 0.7);
    font-size: 16px;
    font-weight: 500;
    line-height: 17.6px;
}

.modal__input {
    cursor: pointer;
    transition: border-color 0.5s;
    padding: 16px 12px;
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    border-radius: 8px;
    border: 1px solid rgba(33, 33, 33, 0.4);
}


.modal__input::placeholder {
    opacity: 0.3;
}

.modal__input:hover {
    border-color: rgba(33, 33, 33, 1);
}


.modal__submit-btn {
    cursor: pointer;
    transition: opacity 0.5s;
    width: 156px;
    padding: 18px 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    background: rgba(33, 33, 33, 1);
    border-radius: 8px;
    color: rgba(252, 245, 229, 1);
    border: none;
    padding: 18px 32px;
}

.modal__submit-btn:hover {
    opacity: .8;
}

.modal__submit-btn_inactive {
    cursor: default;
    opacity: .5;
}

.modal__submit-btn_inactive:hover {
    cursor: default;
    opacity: .5;
}

.modal__error {
    font-size: 16px;
    line-height: 17.6px;
    color: #FF0000B2;
}

.modal__input_state_error {
    border: 1px solid rgba(255, 0, 0, 0.6);
}

@media screen and (max-width: 627px) {
    .modal {
        padding: 0 10px;
    }

    .modal__container {
        padding: 12px;
    }

    .modal__title {
        font-size: 20px;
        line-height: 20px;
        margin: 10px 0 34px;
    }

    .modal__caption {
        font-size: 16px;
        line-height: 19.2px;
        max-width: 94px;
    }

    .modal__content {
        padding: 12px
    }

    .modal__content_type_preview {
        padding: 0%;
        max-width: 288px;
    }

    .modal__close-btn {
        margin: 0 12px 0 0;
        top: 13px;
        right: 0px;
    }

    .modal__close-btn_type_preview {
        margin: 0 0 8px 0;
        top: -48.9px;
        right: 0px;
    }

    .modal__image {
        max-width: 288px;
    }

    .modal__label {
        margin-bottom: 24px;
    }

    .modal__submit-btn {
        width: 100%;
    }

    .modal__input {
        font-size: 16px;
        line-height: 16px;
    }

    .modal__input::placeholder {
        font-size: 16px;
        line-height: 16px;
    }
}